html, .research_form_input, .details_summary_input
{
    font-family: "Lato", sans-serif;
    font-style: normal;
}

// ---------- Research bar ----------

.research_form_input
{
    font-size: 18px;
}

.research_icon
{
    font-size: 26px;
}

// ---------- Details ----------

.details_summary_text, .details_summary_input, .details_list_choice
{
    font-size: 18px;
}

// ---------- Recipes ----------

.recipes_title, .recipes_time_text
{
    font-size: 18px;
}

.recipes_ingredients_element, .recipes_steps
{
    font-size: 12px;
}

// font-weight