/* --------------- Flex disposition --------------- */

/* In rows */
@mixin flex-row($justify-content, $align-items)
{
    display: flex;
    flex-direction: row;
    justify-content: $justify-content;
    align-items: $align-items;
}

/* In columns */
@mixin flex-col($justify-content, $align-items)
{
    display: flex;
    flex-direction: column;
    justify-content: $justify-content;
    align-items: $align-items;
}


/* --------------- Responsive --------------- */

/* Above a given breakpoint */
@mixin media-above($_key)
{
    @media screen and (min-width: map-get($breakpoints, $_key))
    {
        &{@content;}
    }
}

/* Between two given breakpoints */
@mixin media-between($_key1, $_key2)
{
    @media screen and (min-width: map-get($breakpoints, $_key1)) and (max-width: map-get($breakpoints, $_key2))
    {
        &{@content;}
    }
}

/* Under a given breakpoint */
@mixin media-under($_key)
{
    @media screen and (max-width: map-get($breakpoints, $_key))
    {
        &{@content;}
    }
}